APP_NAME="医療法人 補助金申請システム"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://waki-cloud-lab.com

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=database
CACHE_STORE=database
QUEUE_CONNECTION=database

FILESYSTEM_DISK=s3
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

MAIL_MAILER=ses
MAIL_FROM_ADDRESS=no-reply@waki-cloud-lab.com
MAIL_FROM_NAME="医療法人 補助金申請システム"
